html {
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: hsla(211, 22%, 15%, 1);
    font-family: sans-serif;
}

#timelines {
	overflow: auto;
	width: 100%;
	margin: 20px;
	border-radius: 4px;
	background-color: #283440;
}

.serie {
	position: relative;
	height: 40px;
	box-sizing: border-box;
	line-height: 40px;
}

.serie + .serie {
	margin-top: 1px;
}

.title {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-right: 10px;
	text-align: right;
	box-sizing: border-box;
	cursor: default;
	color: #ddd;
	background-color: rgba( 255, 255, 255, .12 );
	transition: color .5s, background-color .5s;
}

#timelines:hover .serie:not(:hover) .title {
	color: rgba( 255, 255, 255, .2 );
}

.serie:hover .title {
	background-color: rgba( 255, 255, 255, .07 );
}

.season {
	position: absolute;
	height: 100%;
	background: rgba( 255, 255, 255, .18 );
	border-radius: 4px;
	border-left: 7px solid #2980b9;
	box-sizing: border-box;
}

.serie:nth-child( 1 ) .season { border-left: 7px solid #9b59b6; }
.serie:nth-child( 2 ) .season { border-left: 7px solid #f39c12; }
.serie:nth-child( 3 ) .season { border-left: 7px solid #c0392b; }
.serie:nth-child( 4 ) .season { border-left: 7px solid #27ae60; }
.serie:nth-child( 5 ) .season { border-left: 7px solid #ea6027; }
.serie:nth-child( 6 ) .season { border-left: 7px solid #0e627a; }
.serie:nth-child( 7 ) .season { border-left: 7px solid #627a0e; }

