:root {
	--app-bg: hsla(211, 22%, 15%, 1);
	--app-transition: .1s;

	--timeline-bg: #283440;

	--show-color: #ddd;
	--show-bg-color: rgba( 255, 255, 255, .1 );
	--show-height: 40px;
	--show-opacity: .4;
	--show-margin-top: 1px;
	--show-transition: .1s;

	--network-ftSize: .7em;
	--network-color: #bbb;

	--season-bg-color: rgba( 255, 255, 255, .18 );
	--season-bd: 7px solid;
	--season-bd-rad: 4px;
}
