:root {
	--app-bg: hsla(211, 22%, 15%, 1);

	--timeline-bg: #283440;

	--serie-height: 40px;
	--serie-opacity: .4;
	--serie-margin-top: 1px;

	--title-padding: 10px;
	--title-color: #ddd;
	--title-bg-color: rgba( 255, 255, 255, .12 );

	--season-bg-color: rgba(255, 255, 255, .18);
	--season-bd: 7px solid;
	--season-bd-rad: 4px;
}
