#scale {
	display: flex;
	align-items: center;
	position: relative;
	height: 30px;
	font-weight: bold;
}

.scale-year {
	position: absolute;
	color: #fff;
	font-size: .8em;
	transition: opacity .1s;
}
