#timelines {
	overflow: auto;
	width: 100%;
	margin: 20px;
	border-radius: 4px;
	background-color: var( --timeline-bg );
}

.serie {
	display: flex;
	position: relative;
	height: var( --serie-height );
	box-sizing: border-box;
	line-height: var( --serie-height );
	transition: opacity .5s;
}

.serie-opacity {
	opacity: var( --serie-opacity );
}

.serie + .serie {
	margin-top: var( --serie-margin-top );
}

.title {
	flex: 1;
	padding-right: var( --title-padding-right );
	text-align: right;
	box-sizing: border-box;
	cursor: default;
	color: var( --title-color );
	background-color: var( --title-bg-color );
	transition: color .5s, background-color .5s;
	z-index: 1;
}

#timelines:hover .serie:not(:hover) .title,
#timelines.no-hover:hover .serie:hover .title {
	color: var( --title-bg-color );
}

#timelines:not(.no-hover) .serie:hover .title {
	background-color: rgba(255, 255, 255, .07);
}

.season {
	position: absolute;
	height: 100%;
	background: var( --season-bg-color );
	border-radius: var( --season-bd-rad );
	border-left: var( --season-bd );
	box-sizing: border-box;
}

div[name="twd"]            .season { border-color: #9b59b6; }
div[name="strangerthings"] .season { border-color: #f39c12; }
div[name="mrrobot"]        .season { border-color: #c0392b; }
div[name="narcos"]         .season { border-color: #27ae60; }
div[name="got"]            .season { border-color: #ea6027; }
div[name="bcs"]            .season { border-color: #0e627a; }
div[name="brba"]           .season { border-color: #627a0e; }
div[name="house"]          .season { border-color: #2980b9; }
