#timeline {
	overflow: auto;
	width: 100%;
	max-height: 100%;
	border-radius: var( --timeline-bd-radius );
	background-color: var( --timeline-bg );
}

/* borders-radius */
#timeline > div:first-child.show .poster {
	border-top-right-radius: var( --timeline-bd-radius );
}
#timeline > div:last-child.show .poster {
	border-bottom-right-radius: var( --timeline-bd-radius );
}
#timeline > div:first-child.show .drag {
	border-top-left-radius: var( --timeline-bd-radius );
}
#timeline > div:last-child.show .drag {
	border-bottom-left-radius: var( --timeline-bd-radius );
}

/* show */
.show {
	display: flex;
	position: relative;
	height: var( --show-height );
	box-sizing: border-box;
	line-height: var( --show-height );
	transition: opacity .5s;
}

.show + .show {
	margin-top: var( --show-margin-top );
}

.poster,
.drag {
	color: var( --poster-color );
	background-color: var( --poster-bg-color );
	transition: opacity .5s, color .5s, background-color .5s;
	z-index: 1;
}

.poster {
	flex: 1;
	order:1;
	box-sizing: border-box;
	user-select: none;
}

.poster img {
	height: 100%;
}

.show-opacity,
#timeline:hover .show:not(:hover) .poster,
#timeline.no-hover:hover .show:hover .poster {
	opacity: var( --show-opacity );
}

#timeline:hover .show:not(:hover) .drag,
#timeline.no-hover:hover .show:hover .drag {
	color: var( --poster-bg-color );
}

#timeline:not(.no-hover) .show:hover .drag {
	background-color: rgba( 255, 255, 255, .18 );
}
#timeline:not(.no-hover) .show:hover .poster {
	background-color: rgba( 255, 255, 255, .07 );
}

.season {
	position: absolute;
	height: 100%;
	background: var( --season-bg-color );
	border-radius: var( --season-bd-rad );
	border-left: var( --season-bd );
	box-sizing: border-box;
}
