#timeline {
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
	max-height: calc( 100% - var( --show-height ) );
	background-color: var( --timeline-bg );
}

.show {
	display: flex;
	position: relative;
	height: var( --show-height );
	line-height: var( --show-height );
}

.show + .show {
	margin-top: var( --show-margin-top );
}

.show > div:not( .season ) {
	z-index: 1;
	color: var( --show-color );
	background-color: var( --show-bg-color );
	transition: opacity, color, background-color;
	transition-duration: var( --show-transition );
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.poster {
	width: calc( var( --show-height ) * 680 / 1000 );
	background: no-repeat;
	background-size: contain;
}

.title {
	padding: 0 6px;
}

.network {
	display: flex;
	flex: 1;
	font-size: var( --network-ftSize );
}

.network .name {
	flex: 1;
	padding: 2px 0 0 2px;
	color: var( --network-color );
}

.season {
	position: absolute;
	height: 100%;
	background: var( --season-bg-color );
	border-radius: var( --season-bd-rad );
	border-left: var( --season-bd );
	box-sizing: border-box;
}
